/* Import divio cms styles */
@import url('cmslayout.css');

#navigation-form .submit-row input.default { float:none; }
#page-form .submit-row input.default { float:none; }

p.help { display:inline; margin:0 0 0 1em !important; padding:0 !important; }
fieldset p.info { margin-top:0.5em; margin-bottom:0; color:#666; }
fieldset ul { margin-left:10em !important; }
fieldset li { margin-bottom:0.2em; }
fieldset li .deletelink { margin-left:1em; }
#errors .hidden, fieldset .hidden { display:none; }
#page-contents fieldset h2 { cursor:pointer; }
/*
#page-contents fieldset h2:hover { color:#999; }
#page-contents fieldset h2 { background:#eee url(../img/admin/nav-bg.gif) bottom left repeat-x; color:#666; text-decoration:underline; }
*/
#page-contents fieldset h2 { text-decoration:underline; }
.page-content-add { display:block; margin:1em 0; }

#id_title { width:30em; }
div.inline { display:inline; margin-right:1.5em; }
div.inline label { float:none !important; width:auto !important; display:inline !important; padding:0 !important; font-size:1.0em; color:#333; }
.form-row div.delete { padding-left:1em; display:inline; }
.form-row div.delete a { font-size:1.1em; padding-left:14px; }
.form-row .object-tools { padding:0 !important; display:inline !important; margin-left:0 !important; }
.form-row a.toggle-advanced { text-decoration:underline; }

/*.form-row { padding:0.4em 1em; }*/
#navigation ul { padding-left:40px; }
#navigation ul li {}
#navigation li { margin: 0.1em 0 0.1em 0em; list-style: none; }
#navigation { padding-top:0.5em; padding-bottom:0.5em; padding-left: 0px;}
#navigation li { clear:both; }
#navigation li span { cursor:pointer; color:#999; }
#navigation li a span { color:#5B80B2; font-weight: bold }
#navigation li a:hover span { color:#036; text-decoration:none;}
/*#navigation li span:hover, #navigation li span:focus { text-decoration:underline; }
#navigation li span:hover span, #navigation li span:focus span { text-decoration:none; }*/
/*#navigation li.drag span { background-color:#eee; }*/
#navigation li.changed .border { background-color:#ffc !important; }
#navigation .toolbox { float:right; margin-right:1em; }
#navigation .toolbox a, #navigation .toolbox label { margin:0 0.5em; }
#navigation .toolbox label { margin-left:0; }
/*#navigation { width:700px; }*/
.toolbox { display:none; } /* don't display in drag shadow */
#navigation .toolbox { display:block; }
#navigation .toolbox label { font-size:1em; }
#navigation .toolbox label.left { margin-left:0.5em; }
#navigation .toolbox img { margin-right:1em; }
#navigation div.border:hover { background-color:#eee;}
#navigation div.border { border-bottom: 1px solid #ddd; padding: 5px 5px 5px 10px; background-color:#f1f6ff; /*margin-right: 350px*/}
/*#navigation div.border .toolbox { display:none; }
#navigation div.border:hover .toolbox { display:block; }*/
#navigation .path { width:10em; display:block; float:left; overflow:hidden; text-align:left; }
#navigation .path a { font-weight:normal; color:#666; font-size:0.9em; overflow:hidden;}
#navigation .movespan { font-weight:normal; margin-right: 10px; color:#999; font-size:0.9em; padding-left:15px; background:url(../img/icon_move.gif) 0 0 no-repeat; cursor: move;}
#navigation .movespan:link { text-decoration: none; color: #036;}
#navigation .movespan:hover { text-decoration: none; color: #036;}
#navigation .view { font-weight:normal; margin-right: 0px; color:#999; padding-left:15px; background:url(../img/selector-addall.gif) 0 0.1em no-repeat; }
#navigation .link_id { cursor:default; font-weight:normal; padding-left:1em; color:#999; font-size:0.9em; }

fieldset .small { 
    color:#999; 
    font-size:0.9em;
}

fieldset .small b { 
    color: red; 
}
.hideme { display: none; }

/* NAVVIGATION TOOLS */


