{% extends "admin/base_site.html" %}
{% load i18n adminmedia admin_modify %} {# cms_base cms_admin %} #}

{% block extrahead %}{{ block.super }}
<script src="{{ root_path }}jsi18n/" type="text/javascript"></script>
{{ media }}
{% if use_tinymce %}
<script type="text/javascript">var use_tinymce = {{ use_tinymce|lower }};</script>
<script src="/media/tinymce/tiny_mce.js" type="text/javascript"></script>
<script src="/tinymce/init/tiny_mce_init.js" type="text/javascript"></script>
<script src="/media/admin/filebrowser/js/TinyMCEAdmin.js"></script>
{% endif %}

<script type="text/javascript">
//<![CDATA[
prepare_page_add_edit();

{% comment %}
Window.onDomReady(function(){
    PageContent.template = {{ pagecontent_template }};

{% if not add %}
    {% if pagecontent_data %}
    {% for pagecontent in pagecontent_data %}
    new PageContent({{ pagecontent }});
    {% endfor %}
    {% else %}
    new PageContent();
    {% endif %}
{% endif %}

    /* Help Tips */
    var HelpTip = new Tips($$('.HelpTip'), {
        className: 'custom',
        showDelay: 600
    });
});{% endcomment %}
//]]>
</script>
{% endblock %}

{# {% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %} #}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ opts.app_label|capfirst|escape }}</a> &rsaquo; 
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ page.menu_title|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}
<form id="page-form" action="" method="post" enctype="multipart/form-data">
<div id="content-main">
            {% for language in languages %}
                <input type="button" class="language_button{% if forloop.first %} selected{% endif %}" id="{{ language.0 }}button" name="{{ language.0}}" value="{{ language.1 }}" /> 
            {% endfor %}
    <div id="content-cms">
        {% for lang in page_translation_forms %}
        <div id="lang-{{ lang.0.0 }}" class="content-cms_container translated_form_container" {% if not forloop.first %}style="display:none;"{% endif %}><fieldset class="module aligned">
            <h2>{#{% trans "Page" %} ({{ lang.0.1 }})#}</h2>
            {% for field in lang.1 %}
                <div id="div_{{ lang.1.prefix }}-{{ field.name }}" class="form-row{% if field.errors %} error{% endif %}">
                    {{ field.errors }}
                    <label for="id_{{ lang.1.prefix }}-{{ field.name }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label|capfirst }}</label>
                    <fieldset class="aligned" style="border: medium none ;">
                        {{ field }}
                        {% if field.help_text %}<a href="#" onclick="return false;" class="HelpTip" title="{{ field.label|capfirst }} :: {{ field.help_text }}"><span>{% trans "Help" %}</span></a>{% endif %}
                    </fieldset>
                {% if field.info_text %}<p class="help">{{ field.info_text }}</p>{% endif %}
                </div>
            {% endfor %}
            
            
        </fieldset></div>
        {% endfor %}
    </div>
    <div id="right">
        <div id="publishinginfo">
            <fieldset class="module aligned">
                <h2>{% trans "Page Settings" %}</h2>
                {% for field in page_form %}
                    <div id="div_{{ field.name }}" class="form-row{% if field.errors %} error{% endif %}">
                        {{ field.errors }}
                        <label for="id_{{ field.name }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label|capfirst }}</label>
                            <fieldset class="aligned" style="border: medium none ;">
                                {{ field }}
                            {% if field.help_text %}<a href="#" onclick="return false;" class="HelpTip" title="{{ field.label|capfirst }} :: {{ field.help_text }}"><span>{% trans "Help" %}</span></a>{% endif %}
                            </fieldset>
                        {% if field.info_text %}<p class="help">{{ field.info_text }}</p>{% endif %}
                    </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="submit-row">
{% if not add %}<p class="float-left"><a href="delete/" class="deletelink">{% trans 'Delete' %}</a></p>{% endif %}
<input type="submit" id="page_add_edit_submit" value="{% if add %}{% trans 'Add this page' %}{% else %}{% trans 'Save all changes' %}{% endif %}" class="default" />
</div>
</div>


<!-- {% comment %}
    <div id="content-main">
        <div id="content-cms">
            <div id="itemdetails">
                <fieldset class="module aligned">
                    <h2>{% trans 'Page Info' %}</h2>
                    {% render_field form.title %}
                    {% render_field form.slug %}
                    {% render_field form.parent %}
                </fieldset>
            </div>
            <div id="page-contents" class="clearfix"></div>
            {% if not add %}
            <noscript><p class="errornote"><b>{% trans 'Note' %}:</b> {% trans "You will have to activate JavaScript in your browser's settings to be able to edit page content." %}</p></noscript>
            <p><a href="#" class="addlink page-content-add">{% trans 'Add page content' %}</a></p>
            {% endif %}
        </div>
        <div id="right">
            <div id="publishinginfo">
                <fieldset class="module aligned">
                    <h2>{% trans 'Publishing Info' %}</h2>
                    {% if navigations %}
                    <div><p class="info">{% trans 'This page is already in the navigation (<a href="../../navigation/">edit navigation</a>):' %}</p>
                    <ul>
                    {% for navigation in navigations %}
                        <li>{{ navigation }} {% if not navigation.in_navigation %}<span class="small">(not displayed in navigation)</span>{% endif %} <a class="deletelink navigation-delete" href="../../navigation/{{ navigation.id }}/delete/">Delete</a></li>
                    {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% render_field form.in_navigation %}
                    {% render_field form.is_published %}
                    {% render_field form.override_url %}
                    {% render_field form.overridden_url %}
                    {% render_field form.requires_login %}
                    {% render_field form.start_publish_date %}
                    {% render_field form.end_publish_date %}
                    {% render_field form.context %}

                </fieldset>
            </div>  
            {% if page_addons and not add %}
            <div class="module">
                <fieldset class="module aligned">
                    <h2>{% trans 'Add-ons' %}</h2>
                    <div class="form-row">
                        <a href="add_ons/?_popup=1" onclick="document.open(this.href, '_blank', 'width=800,height=600,resizable=yes,scrollbars=yes');return false">{% trans 'Add-ons' %}</a>
                    </div>
                </fieldset>
            </div>
            {% endif %}
        </div>
    </div>  
    <div class="clearfix"></div>
    {% include 'cms/page_submit_row.html' %}
{% endcomment %}-->
</form>
{% endblock %}
