{% load i18n %}
<div class="pagecontent-content">
<fieldset class="module aligned {{ form.classes }}">
{% for field in form %}
    <div class="form-row{% if form.errors %} errors{% endif %}">
    {{ form.errors }}
    <div{% if not form.fields|length_is:"1" %} class="field-box"{% endif %}>
      {% if field.is_checkbox %}
          {{ field.field }}{{ field.label_tag }}
      {% else %}
          {{ field.label_tag }}{{ field }}
      {% endif %}
      {% if field.field.field.help_text %}<p class="help">{{ field.field.field.help_text|safe }}</p>{% endif %}
    </div>
    </div>
{% endfor %}
</fieldset>
</div>