{% load i18n cms_base %}
<div class="border"><input type="hidden" name="id.{{ page.id }}" value="{{ page.id }}" />
    <div class="toolbox">
        <!--<div class="path"><a target="_blank" href="{{ page.absolute_url }}">{{ page.absolute_url }}</a></div>-->
        <input type="checkbox" {% if page.in_navigation %}checked="checked" {% endif %}name="in_navigation.{{ page.id }}" id="id_visible.{{ page.id }}" />
        <label for="id_visible.{{ page.id }}">{% trans 'In navigation' %}</label>
        <input type="checkbox" {% if page.is_published %}checked="checked" {% endif %}name="is_published.{{ page.id }}" id="id_published.{{ page.id }}" />
        <label for="id_published.{{ page.id }}">{% trans 'Is published' %}</label>
    <!--<a href="../page/{{ page.id }}/" class="changelink">{% trans 'Edit page' %}</a>-->
        <span class="view"><a href="{{ page.absolute_url }}" target="_blank">{% trans 'View' %}</a></span>
        {% if page.is_editable %}<a href="{{ page.id }}/delete/" class="deletelink">{% trans 'Delete' %}</a>{% endif %}
    </div>
    <span class="movespan" id="navigation_page_{{ page.id }}">{% trans 'Move' %}</span>
    {% if page.is_editable %}<a href="{{ page.id }}/">{% endif %}
    <span>{{ page.title }}</span>
    {% if page.is_editable %}</a>{% endif %}
    <span class="link_id">{% trans 'ID' %}: {{ page.id }}</span>
</div>
