{% extends "admin/base_site.html" %}
{% load i18n adminmedia cms_base cms_admin %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}cms/admin.css" media="screen" />
<script src="/admin/jsi18n/" type="text/javascript"></script>
<script src="{% admin_media_prefix %}js/core.js" type="text/javascript"></script>
<script src="{% admin_media_prefix %}cms/DateTimeShortcuts.js" type="text/javascript"></script>
<script src="{% admin_media_prefix %}js/calendar.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/mootools.v1.11.js" type="text/javascript"></script>
<script src="{% admin_media_prefix %}cms/dynamicforms.js" type="text/javascript"></script>
<script type="text/javascript">var use_tinymce = {{ use_tinymce|lower }};</script>
<script src="{% admin_media_prefix %}cms/page_add.js" type="text/javascript"></script>
{% if use_tinymce %}
<script src="{% admin_media_prefix %}tinymce/tiny_mce.js" type="text/javascript"></script>
<script src="/tinymce/init/tiny_mce_init.js" type="text/javascript"></script>
{% endif %}
<script type="text/javascript">
//<![CDATA[
Window.onDomReady(function(){
    PageContent.template = {{ pagecontent_template }};

{% if not add %}
    {% if pagecontent_data %}
    {% for pagecontent in pagecontent_data %}
    new PageContent({{ pagecontent }});
    {% endfor %}
    {% else %}
    new PageContent();
    {% endif %}
{% endif %}

	/* Help Tips */
	var HelpTip = new Tips($$('.HelpTip'), {
		className: 'custom',
		showDelay: 600
	});
});
//]]>
</script>
{% endblock %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block userlinks %}<a href="../../../doc/">{% trans 'Documentation' %}</a> / <a href="../../../password_change/">{% trans 'Change password' %}</a> / <a href="../../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">{% trans 'Pages' %}</a> &rsaquo;
     {% if add %}{% trans "Add" %} {% trans 'page' %}{% else %}{{ page|truncatewords:"18"|escape }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}
<form id="page-form" action="" method="post">
    {#<ul class="object-tools"><li><a href="../add/" class="addlink">{% trans 'Add page' %}</a></li></ul>#}

    <div id="content-main">
        <fieldset class="module aligned">
            {% render_field form.title %}
            {% render_field form.slug %}
            {% render_field form.is_published %}
            {% render_field form.template %}
            {% render_field form.context %}
            {% render_field form.parent %}
            {% render_field form.in_navigation %}
            {% if navigations %}
            <div><p class="info">{% trans 'This page is already in the navigation (<a href="../../navigation/">edit navigation</a>):' %}</p>
            <ul>
            {% for navigation in navigations %}
                <li>{{ navigation }} {% if not navigation.in_navigation %}<span class="small">(not displayed in navigation)</span>{% endif %} <a class="deletelink navigation-delete" href="../../navigation/{{ navigation.id }}/delete/">Delete</a></li>
            {% endfor %}
            </ul></div>
            {% endif %}
            {% render_field form.override_url %}
            {% render_field form.overridden_url %}
            {% render_field form.start_publish_date %}
            {% render_field form.end_publish_date %}
    </fieldset>

{% include 'cms/page_submit_row.html' %}

{% if not add %}
<h2>{% trans 'Edit page content' %}</h2>
<noscript><p class="errornote"><b>{% trans 'Note' %}:</b> {% trans "You will have to activate JavaScript in your browser's settings to be able to edit page content." %}</p></noscript>
<div id="page-contents"></div>
<p><a href="#" class="addlink page-content-add">{% trans 'Add page content' %}</a></p>
{% include 'cms/page_submit_row.html' %}
{% endif %}

    </div>
  </form>

{% endblock %}
